<!DOCTYPE html>
<html lang="en" ng-app="app">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngDraggable/0.1.11/ngDraggable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="script.js" type="text/javascript"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" />
    <meta charset="UTF-8">
    <title>Creativity Project 3</title>
</head>

<body ng-controller="puzzleCtrl" data-ng-init="init()">

    <header class="text-center" style="margin: 30px;">
        <h1>Puzzle</h1>
        <button class="btn btn-default" ng-click="createPuzzle()">Generate Random Puzzle</button>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div id="img-Puzzle" class="row">
                    <div class="col-xs-4 drop-pos" position="{{obj.position}}" ng-drop="true" ng-repeat="obj in imgPcs" ng-init="outerIndex = $index" ng-drop-success="onDropComplete($data, $event)">
                        <img class="puzzle piece{{obj.position}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true" style="background-image: url('{{obj.url}}');"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

