.puzzle {
    width:100%;
    height:100%;
    background-size: 750px 450px;
}

#img-Puzzle {
    min-width: 351px;
}

#alerts {
    position: absolute;
    top: 0;
    z-index:1;
    bottom:0;
    height:100%;
}

.grey-out {
    opacity: .5;
    background-color: grey;
    width: 750px;
    height: 450px;
}

#piece1 {
    background-position:0 0;
}

#piece2 {
    background-position:-250px 0px;
}

#piece3 {
    background-position:-500px 0px;
}

#piece4 {
    background-position: 0px -150px;
}

#piece5 {
    background-position: -250px -150px;
}

#piece6 {
    background-position: -500px -150px;
}

#piece7 {
    background-position: -0px -300px;
}

#piece8 {
    background-position:-250px -300px;
}

#piece9 {
    background-position:-500px -300px;
}

.col-xs-4 {
    width: 250px;
}

.drop-pos {
    padding: 0px;
    height: 150px;
}

.dragging {
    z-index: 999;
}

.drag-over {
    z-index: 999;
}

@media (max-width: 1199px) {
    .puzzle {
        background-size: 645px 387px;
    }

    .grey-out {
        width: 645px;
        height: 387px;
    }

    .col-xs-4 {
        width:215px;
    }

    .drop-pos {
        height:129px;
    }

    #piece1 {
        background-position:0 0;
    }

    #piece2 {
        background-position:-215px 0px;
    }

    #piece3 {
        background-position:-430px 0px;
    }

    #piece4 {
        background-position: 0px -129px;
    }

    #piece5 {
        background-position: -215px -129px;
    }

    #piece6 {
        background-position: -430px -129px;
    }

    #piece7 {
        background-position: -0px -258px;
    }

    #piece8 {
        background-position:-215px -258px;
    }

    #piece9 {
        background-position:-430px -258px;
    }
}

@media (max-width: 991px) {
    .puzzle {
        background-size: 468px 282px;
    }

    .grey-out {
        width: 468px;
        height: 282px;
    }

    .col-xs-4 {
        width:156px;
    }

    .drop-pos {
        height:94px;
    }

    #piece1 {
        background-position:0 0;
    }

    #piece2 {
        background-position:-156px 0px;
    }

    #piece3 {
        background-position:-312px 0px;
    }

    #piece4 {
        background-position: 0px -94px;
    }

    #piece5 {
        background-position: -156px -94px;
    }

    #piece6 {
        background-position: -312px -94px;
    }

    #piece7 {
        background-position: -0px -188px;
    }

    #piece8 {
        background-position:-156px -188px;
    }

    #piece9 {
        background-position:-312px -188px;
    }
}

@media (max-width: 701px) {
    .puzzle {
        background-size: 351px 210px;
    }

    .grey-out {
        width: 351px;
        height: 210px;
    }

    .col-xs-4 {
        width:117px;
    }

    .alert {
        padding: 0px;
    }

    .drop-pos {
        height:70px;
    }

    #piece1 {
        background-position:0 0;
    }

    #piece2 {
        background-position:-117px 0px;
    }

    #piece3 {
        background-position:-234px 0px;
    }

    #piece4 {
        background-position: 0px -70px;
    }

    #piece5 {
        background-position: -117px -70px;
    }

    #piece6 {
        background-position: -234px -70px;
    }

    #piece7 {
        background-position: -0px -140px;
    }

    #piece8 {
        background-position: -117px -140px;
    }

    #piece9 {
        background-position:-234px -140px;
    }
}