.puzzle {
    width:100%;
    height:100%;
    background-size: 750px 450px;
}

.piece1 {
    background-position:0 0;
}

.piece2 {
    background-position:-250px 0px;
}

.piece3 {
    background-position:-500px 0px;
}

.piece4 {
    background-position: 0px -150px;
}

.piece5 {
    background-position: -250px -150px;
}

.piece6 {
    background-position: -500px -150px;
}

.piece7 {
    background-position: -0px -300px;
}

.piece8 {
    background-position:-250px -300px;
}

.piece9 {
    background-position:-500px -300px;
}

.col-xs-4 {
    padding: 0px;
    width: 250px;
    height: 150px;

}

@media (max-width: 1199px) {
    .puzzle {
        background-size: 645px 387px;
    }

    .col-xs-4 {
        width:215px;
        height:129px;
    }

    .piece1 {
        background-position:0 0;
    }

    .piece2 {
        background-position:-215px 0px;
    }

    .piece3 {
        background-position:-430px 0px;
    }

    .piece4 {
        background-position: 0px -129px;
    }

    .piece5 {
        background-position: -215px -129px;
    }

    .piece6 {
        background-position: -430px -129px;
    }

    .piece7 {
        background-position: -0px -258px;
    }

    .piece8 {
        background-position:-215px -258px;
    }

    .piece9 {
        background-position:-430px -258px;
    }
}

@media (max-width: 991px) {
    .puzzle {
        background-size: 468px 282px;
    }

    .col-xs-4 {
        width:156px;
        height:94px;
    }

    .piece1 {
        background-position:0 0;
    }

    .piece2 {
        background-position:-156px 0px;
    }

    .piece3 {
        background-position:-312px 0px;
    }

    .piece4 {
        background-position: 0px -94px;
    }

    .piece5 {
        background-position: -156px -94px;
    }

    .piece6 {
        background-position: -312px -94px;
    }

    .piece7 {
        background-position: -0px -188px;
    }

    .piece8 {
        background-position:-156px -188px;
    }

    .piece9 {
        background-position:-312px -188px;
    }
}

@media (max-width: 701px) {
    .puzzle {
        background-size: 351px 210px;
    }

    .col-xs-4 {
        width:117px;
        height:70px;
    }

    .piece1 {
        background-position:0 0;
    }

    .piece2 {
        background-position:-117px 0px;
    }

    .piece3 {
        background-position:-234px 0px;
    }

    .piece4 {
        background-position: 0px -70px;
    }

    .piece5 {
        background-position: -117px -70px;
    }

    .piece6 {
        background-position: -234px -70px;
    }

    .piece7 {
        background-position: -0px -140px;
    }

    .piece8 {
        background-position: -117px -140px;
    }

    .piece9 {
        background-position:-234px -140px;
    }
}

@media (max-width: 527px) {
    .puzzle {
        background-size: 264px 159px;
    }

    .col-xs-4 {
        width:88px;
        height:53px;
    }

    .piece1 {
        background-position:0 0;
    }

    .piece2 {
        background-position:-88px 0px;
    }

    .piece3 {
        background-position:-176px 0px;
    }

    .piece4 {
        background-position: 0px -53px;
    }

    .piece5 {
        background-position: -88px -53px;
    }

    .piece6 {
        background-position: -176px -53px;
    }

    .piece7 {
        background-position: -0px -106px;
    }

    .piece8 {
        background-position:-88px -106px;
    }

    .piece9 {
        background-position:-176px -106px;
    }
}